# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
stitch_odoo_retail_pos_dashboard
todo.md
pos-app.db-*
scripts/
products-export-*
pos-app.db